.attendance-table-section{
    font-size: 1em;
    width : 100%;
    height : 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding : 20px;
}

.subjects{
    background-color : gray;
    color : white;
}

.selection{
    display: flex;
    flex-direction: row;
    margin-left:33%;
    margin-top:10%;
    margin-bottom: 2em;
}

.drop-down{
    width : 8em;
    font-size: 1.2em;
    margin-top: -1em;
    margin-left: 1em;
    border-radius: .5em;
    border: 1px solid #aaa;
}

.select-text{
    font-size: 1.5em;
    font-weight: 600;
}