.footer-section{
    display: flex;
    bottom:0;
    width:100%;
    flex-direction: row;
    justify-content: center;
    align-content: center;
}
.footer-text{
    color:#000000;
    font-size:1em;
    font-family: 'lato', 'Times New Roman', Times, serif;
}